.footer-background {
  background-color: black;
  color: grey;
  min-height: 25rem;
  max-height: 100%;
}

.footer-container {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 60px;
}

.footer-item-menu {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  row-gap: 1.5rem;
  padding-top: 40px;
}

.footer-item {
  font-size: small;
  cursor: pointer;
}

.footer-item:hover {
  text-decoration: underline;
  color: white;
}

.footer-language {
  margin-top: 40px;
  background-color: black;
  color: grey;
  height: 3rem;
  width: 12rem;
}

.footer-bottom-title {
  padding-top: 40px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */

  .footer-container {
    padding-left: 15%;
    padding-right: 15%;
  }

  .footer-item-menu {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 850px) {
  /* For Desktop: */
  .footer-container {
    padding-left: 15%;
    padding-right: 15%;
  }

  .footer-item-menu {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
