.hero-background {
  background-image: url("../assets/images/heroImage.jpg");
  height: 99vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px);
  -webkit-filter: blur(3px);

  filter: brightness(70%);
  
}

.hero-container {
  padding-left: 60px;
  padding-right: 60px;
  position: absolute;
  top: 40%;
  left: 10%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-main-quote {
  font-size: 2rem;
    font-weight: 700;
}

.hero-secondary-quote {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.hero-container button {
  background-color: rgb(183, 21, 21);
  border-radius: 30px;
  border-color: white;
  width: 8rem;
  height: 2.5rem;
  color: white;
  margin-top: 1rem;
  font-size: me;
}


@media only screen and (min-width: 600px) {
  /* For tablets: */

  .hero-main-quote {
    font-size: 2.5rem;
    font-weight: 700;
  }
}

@media only screen and (min-width: 850px) {
  /* For Desktop: */
  .hero-main-quote {
    font-size: 4rem;
    font-weight: 700;
  }
}