.popular-background {
  min-height: 100vh;
  max-height: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: 10px solid rgb(25, 25, 25);
  background: rgb(0, 0, 0);

  color: white;
}

.popular-container {
  padding-left: 30px;
  padding-right: 30px;
}

.popular-title {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: x-large;
  font-weight: 700;
}

.popular-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.movieitem-background img {
  border-radius: 5px;
}

.movieitem-background img:hover {
  filter: blur(8px);
  -webkit-filter: blur(5px);
}

.movieitem-background {
  cursor: pointer;
}

.movieitem-description {
  position: relative;
  bottom: 8rem;
  left: 0.5rem;
  visibility: hidden;
}

.movieitem-background:hover .movieitem-description {
  filter: drop-shadow(0 20px 13px rgba(253, 253, 253, 0.03))
    drop-shadow(0 8px 5px rgba(255, 255, 255, 0.08));
  visibility: visible;
}

.movie-item-title {
  font-size: small;
  width: 12rem;
}

/* responsive */

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .popular-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (min-width:850px) {
  /* For Desktop: */
  .popular-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
