input{
    background-color: black;
    color: white;
    border-bottom: 2px solid white;
    width: 300px;
    height: 25px;
}

form {
    display: flex;
}
.sugestion-backgroud{
    position: absolute;
    top: 70%;
    background-color: black;
    color: white;
    width:300px;
    height: max-content;
    border-radius: 5px;
    overflow: hidden;
}



.sugestion-container{
    padding: 0.5rem;
}
.sugestion-item{
    border-bottom: 2px solid white;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.sugestion-item:hover{
  background-color: rgb(19, 19, 19);
}

.search-icon{
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}